/* Custom styles */
.vertical-center {    
    display: flex; /* Use flexbox */
    justify-content: center; /* Align horizontally center */
    align-items: center; /* Align vertically center */
   
}
.jumbotron {
    background-color: #f8f9fa;
}
.background {    
    width: 100%;    
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* No repeating of the background image */   
    text-align: center; /* Center the text */
}